.main-wrapper {
  height: 100vh;  
}

/*.content{
    position:relative;
    height: 89.5vh;
}

@media (min-width: 768px){
  .left {
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 75%;
    overflow-y: scroll; 
  }
  
  .right {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 25%;
  }
}*/

.col{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

.col-wrap{  
    overflow: hidden;   
}  