

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">

        <navbar>
            <div class="container col-xs-12 text-xs-center centralize">
                <span class="center-block fa fa-5x fa-spin fa-cog text-nowrap text-success"></span>
            </div>
        </navbar>

    </div>
</nav>

<div class="content" style="padding-top: 60px;">
    <router-outlet></router-outlet>
</div>

<div class="footer navbar-fixed-bottom bg-inverse text-inverse" draggable="true">
    footer
</div>


